extends ../layout/index

block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        p(class="text-center text-2xl font-extrabold")= pagina

    div(class="bg-white shadow-lg py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class=error ? "bg-red-500" : "bg-green-500").py-2.px-5.rounded-lg.w-full.text-white.font-bold.text-center.uppercase= mensaje
        
        if !error
            a(href="/auth/login" class="text-center font-bold text-sm  uppercase mt-10 block bg-indigo-600 hover:bg-indigo-700 py-2 px-2 text-white rounded-full") Ya puedes iniciar sesión